@{
    ViewBag.Title = "Editare categorie";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Categories/Edit/@ViewBag.Category.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label>Nume categorie</label>
    <br /> <input type="text" name="CategoryName" value="@ViewBag.Category.CategoryName" />
    <br /><br />

    <button class="btn btn-success" type="submit">Modifica categoria</button>
</form>