@{
    ViewBag.Title = "Adaugare Categorie";
}



<h2>Adaugare Categorie</h2>

<form method="post" action="/Categories/New">

    <label>Nume categorie</label>
    <br />
    <input type="text" name="CategoryName" />
    <br /><br />
    <button class="btn btn-success" type="submit">Adauga categorie</button>
</form>
