  
* {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

.logo-image{ 
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0px;
    float: left;
    width: 5%;
    max-width: 30%;
    height: auto;
    display: block; /* remove extra space below image */
	padding-left: 10px;
}

.wrapper{
    overflow: hidden;
    background-color: #333;
    font-family: customFont;
    font-wight: bold;
    width: 100%;
}

.navbar {
    list-style-type: none;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
}

.navbar li a {
    text-decoration: none;
    color: orange;
    padding: 0 15px;
}

.aliniat-la-stanga {
    display: flex;
    flex-direction: row;
    align-items: center;
	margin-left: 0px;
}

.aliniat-la-dreapta {
    display: flex;
    align-items: center;
	padding-right: 10px;
}

.navbar > .aliniat-la-stanga > li:nth-child(1) > a {
    font-size: 30px;
}

@media only screen and (max-width: 376px) {
    .navbar, .aliniat-la-stanga, .aliniat-la-dreapta {
        flex-direction: column !important;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background: black;
    min-width: 10%;
	color: black;
	text-color: black;
}

.dropdown-content span {
    color: orange;
    padding: 15px 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content > span:hover {
    color: black;
}

.dropdown-span:hover {
    background: orange;
	text-color: black;
	color: black;
}